<body>
<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let order of orders">
    <ion-card-content>

      <ion-list lines="none">
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img [src]="order?.restaurantIcon"></ion-img>
          </ion-thumbnail>
          {{order?.restaurantName}}<br>{{order?.orderDate}}
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-6 style="text-align: left">
              <ion-row *ngFor="let recipe of order?.orderContent">
                <ion-text>{{recipe}}</ion-text><br>
              </ion-row>
           </ion-col>
            <ion-col col-3 style="text-align: right">
              <ion-text>{{order?.orderPrice}} €</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

</body>
