<body>
<ion-header>
  <ion-toolbar>
    <ion-title>Restaurants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of restaurants" [routerLink]="['restaurant-info']" [queryParams]="{name:item.name,streetAddress:item.address.streetAddress}">
    <ion-card-content>
      <ion-img [src]="item.img"></ion-img>
      <ion-list lines="none">
        <ion-item>
          <ion-label>{{item.name}}</ion-label>
          <ion-text>{{item.servesCuisine}}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-item></ion-item>
</ion-content>
</body>
