<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-label style="text-align: center;font-size: 30px;font-weight: bold">{{userInfo?.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="text-align: center;font-size: medium">{{userInfo?.age}} ans</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item [routerLink]="['user-info']" [queryParams]="{name: ''}">My Information</ion-item>
    <ion-item>Service Client</ion-item>
    <ion-item (click)="logOut()">Log Out</ion-item>
  </ion-list>
</ion-content>
